.contacts {
    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.contact-form {
    width: 40%;
    min-width: 550px;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    &__group {
        position: relative;
        width: 100%;
        background: #fff;
        box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.45);
        border-radius: 5px;
        &+div {
            margin-top: 40px;
        }
        label {
            position: absolute;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            z-index: 0;
            cursor: text;
            @include adapt-font(16, 14);
            transition: 0.3s;
            &.focus {
                top: -10px;
                @include adapt-font(14, 12);
            }
            span {
                margin-left: 3px;
                color: red;
            }
        }
        input {
            @include adapt-font(16, 14);
            border: none;
            outline: 0;
            z-index: 2;
            background: transparent;
            width: 100%;
            padding: 10px;
            transition: 0.3s;
        }
    }
    &__textarea {
        position: relative;
        width: 100%;
        margin-top: 40px;
        border-radius: 5px;
        transition: 0.3s;
        &:focus-within {
            transform: scale(1.05);
            textarea {
                box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.45);
            }
        }
        label {
            position: absolute;
            top: -22px;
            left: 10px;
            @include adapt-font(14, 12);
        }
        textarea {
            display: block;
            width: 100%;
            border-radius: 5px;
            background: #fff;
            box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.45);
            border: none;
            padding: 10px;
            @include adapt-font(16, 14);
            outline: 0;
            min-height: 300px;
            height: 300px;
            resize: vertical;
            transition: 0.3s;
        }
    }
    &__submit {
        margin-top: 40px;
        input {
            width: 100%;
            height: 100%;
            padding: 10px 25px;
            border-radius: 5px;
            box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.45);
            background: $primary-color;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: none;
            font-weight: bold;
            @include adapt-font(20, 16);
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.45);
                transform: scale(1.01) translateY(-3px);
            }
        }
    }
}