@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/Open Sans/Light/Open Sans Light.otf'), url('../assets/fonts/Open Sans/Light/Open Sans Light.ttf'), url('../assets/fonts/Open Sans/Light/Open Sans Light.woff');
    font-weight: 300;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/Open Sans/Regular/Open Sans Regular.otf'), url('../assets/fonts/Open Sans/Regular/Open Sans Regular.ttf'), url('../assets/fonts/Open Sans/Regular/Open Sans Regular.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/Open Sans/Bold/Open Sans Bold.otf'), url('../assets/fonts/Open Sans/Bold/Open Sans Bold.ttf'), url('../assets/fonts/Open Sans/Bold/Open Sans Bold.woff');
    font-weight: 800;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../assets/fonts/Open Sans/SemiBold/Open Sans SemiBold.otf'), url('../assets/fonts/Open Sans/SemiBold/Open Sans SemiBold.ttf'), url('../assets/fonts/Open Sans/SemiBold/Open Sans SemiBold.woff');
    font-weight: 600;
}